<div class="lesson-content">
    {% if lesson.video_file %}
        <video controls style="width:100%;border-radius:10px">
            <source src="{{ lesson.video_file.url }}" type="video/mp4">
        </video>
    {% elif lesson.video_url %}
        <iframe src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    <h1>{{ lesson.title }}</h1>
    <p>{{ lesson.module.course.title }} / {{ lesson.module.title }}</p>

    <div class="lesson-tabs">
        <button @click="tab='desc'">Описание</button>
        <button @click="tab='assign'">Задание</button>
    </div>

    <div x-show="tab==='desc'">
        {{ lesson.content|linebreaks }}
    </div>

    {% if lesson.assignment %}
    <div x-show="tab==='assign'">
        {{ lesson.assignment|linebreaks }}
    </div>
    {% endif %}
</div>
