<main class="course-content">
    <div class="test-container card">
        <h1>{{ test.title }}</h1>
        <p class="subtitle">{{ module.title }}</p>
        <p class="test-description">{{ test.description|linebreaks }}</p>
        
        <form 
            hx-post="{% url 'core:partial_test_module' module.id %}" 
            hx-target="#lesson-main-content" 
            hx-swap="innerHTML"
        >
            {% csrf_token %}
            
            {% for question in test.questions.all %}
            <div class="form-group test-question">
                <label for="answer_{{ question.id }}" class="form-label">
                    {{ forloop.counter }}. {{ question.text|linebreaks }}
                </label>
                <input type="text" name="answer_{{ question.id }}" id="answer_{{ question.id }}" class="form-input">
            </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: var(--spacing-6);">
                Завершить тест
            </button>
        </form>
    </div>
</main>